/* general styling */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

body {
  background-color: #f0efeb;
}

.outerWrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.innerWrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

/* header styling */

.navBar {
  margin: 30px auto;
}

.navBarRight,
.navBarleft,
.navBar,
.menuButton {
  display: flex;
}

.navBarLeft a,
.navBarRight p {
  margin-right: 30px;
}

.navBar {
  justify-content: space-between;
}

.tableImage {
  max-width: 100%;
}

.headerImageContainer {
  position: relative;
}

.headerText {
  position: absolute;
  color: white;
  text-align: center;
  left: 50%;
  top: 30%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 1.4rem;
}

/* about section styling */

.bakery {
  max-width: 100%;
}
